/* 전체 페이지 스타일 */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
    text-align:center;
}
/* 페이지 헤더 스타일 */
header {
    background-color: #032e03;
    color: #fff;
    text-align: center;
    padding: 20px;
}
/* 섹션 스타일 */
section {
    margin: 50px;
}
/* 섹션 제목 스타일 */
h2 {
    color: #032e03;
}
/* 페이지 푸터 스타일 */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* 버튼 스타일 */
input[type="button"] {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    background-color: #032e03;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

input[type="button"]:hover {
    background-color: #1b550a;
}

/* 새로 추가된 부분: 버튼에 아이콘 추가 및 정렬 */
input[type="button"]::before {
    content: url('path/to/icon.png');
    display: inline-block;
    margin-right: 8px;
    transition: transform 0.3s ease; /* 아이콘에 호버 효과 적용을 위한 트랜지션 설정 */
}

/* 새로 추가된 부분: 아이콘에 호버 효과 */
input[type="button"]:hover::before {
    transform: scale(1.2); /* 호버 시 아이콘 확대 효과 */
}
